# Templating
*.css
*.scss
*.html
*.svg

# Generated data
coverage
dist
node_modules
**/package/
build-dev/
build_metadata.json

# OS/IDE
.vscode
.idea
.DS_Store

# Others
*.json
*.md
*.yml
*.log
*.pdn
.editorconfig
.gitignore
.prettierignore
LICENSE

# Project specific
*.gpx
*.tcx
*.fit
*.7z
*.zip
*.tar
*.tar.gz
*.fake
desktop-boot.js

